
body{
	margin:0;
	color:#000;
	font:14px/24px Arial, sans-serif;
	background:#fff;
}
img{border-style:none;}
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline; color:#000;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	font:100% Arial, Helvetica, sans-serif;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
header,
section,
nav,
footer,
main,
aside {display:block;}
/*wrapper*/
.wrapper{
	position:relative;
	padding:46px 0 0;
	width:960px;
	margin:0 auto;
}
/*calendar*/
.list-years{
	margin:0 0 40px -20px;
	padding:0;
	list-style:none;
	text-align:center;
	position:relative;
}
.list-years li{
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 20px;
	color:#000;
}
.list-years li:hover{
	cursor:pointer;
}
.list-years li:nth-child(2){
	font-weight:bold;
	color:#ff0000;
}
.list-years .prev-year{
	position:absolute;
	top:0;
	left:0;
}
.list-years .next-year{
	position:absolute;
	top:0;
	right:0;
}
.list-years-bottom{
	padding:40px 0 0;
	border-top:2px solid #ccc;
}
.list-years-bottom .next-year,
.list-years-bottom .prev-year{
	top:40px;
}
.description-calendar{
	margin:0 0 40px -20px;
	padding:0;
	list-style:none;
	text-align:center;
}
.description-calendar li{
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 20px;
	color:#000;
	font-weight:bold;
}
.description-calendar .lightbox-01{
	color:#094985;
}
.description-calendar .lightbox-02{
	color:#a0060a;
}
.description-calendar .lightbox-03{
	color:#936223;
}
.description-calendar .lightbox-04{
	color:#225523;
}
.description-calendar .lightbox-05{
	color:#656565;
}
#calendar {
	width: 100%;
	margin: 0 auto 40px;
	border-spacing: 0;
	border-collapse:collapse;
}
#calendar td {
	vertical-align: top;
	padding:0;
}

#calendar table { 
	border-collapse:collapse;
	border-spacing:0;
	margin:0 0 20px 10%;
	border:1px solid #ccc;
	width:89%;
}
#calendar table .week{
	color:#ccc;
	background:#ff0000;
}
#calendar table thead tr:first-child td{
	text-align:left;
	color:#fff;
	background:#ccc;
	border:0;
	text-align:center;
}
#calendar table thead tr:first-child{
	border:1px solid #000;
}
#calendar table td{
	border:1px solid #ccc;
	border-collapse:collapse;
	border-spacing:0;
	border-width:0 1px;
	text-align:right;
	vertical-align:middle;
	padding:0 5px;
}
#calendar table tbody td {
	width:14%;
}
#calendar table tbody td.today {
	outline: 3px solid #ff0000;
}
#calendar table td.lightbox-01 { 
	background: #094985;
}
#calendar table td.lightbox-02 { 
	background: #a0060a;
}
#calendar table td.lightbox-03 { 
	background: #936223;
}
#calendar table td.lightbox-04 { 
	background: #225523;
}
#calendar table td.lightbox-05 { 
	background: #656565;
}
#calendar table td a {
	display: block;
	text-decoration: none;
	color:#fff;
}
#calendar table td a:hover {
	text-decoration:none;
}
.popus{
	position:absolute;
	top:-99999px;
	left:-99999px;
}
